.Rproj.user

.Rdata

.Rhistory

Ashfield-REE.Rproj

*.tmp

*.html

*.png

*.jpg

*.jpeg

*.pdn

*.zip

Ashfield_EDA_afs1922.html

Ashfield-geostatistics-using-gstat.html

*.xlsx

*.pptx

*.pdf

*.tsv

*.docx

/Ashfield-geostatistics-using-gstat_files/*

/Ashfield_EDA_afs1922_files/*

/Ashfield-XRD-EDA_files/*

/REE-paper-notes_files/*
