.Rproj.user

.Rdata

.Rhistory

Ashfield-REE.Rproj

*.tmp

*.html

*.png

*.jpg

*.jpeg

*.pdn

*.zip

Ashfield_EDA_afs1922.html

Ashfield-geostatistics-using-gstat.html

*.xlsx

*.pptx

*.pdf

*.tsv

*.docx

/Ashfield-geostatistics-using-gstat_files/*

/Ashfield_EDA_afs1922_files/*

/Ashfield-XRD-EDA_files/*

/Ashfield-XRD-summary-PCA_files/*

/REE-paper-notes_files/*

/AF-pXRD-S1-2021/*

/pXRD-S1-2023/*

/Ashfield_EDA_afs1923_FULL_files/*

/TESTING-Rmarkdown-output_files/*

/regolith/*

/soils/*
ISQG.csv
WQ_guide_freshwater_modified.csv

